# Database Config
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Credential
JWT_KEY_FORGOT="forgotpassword"
JWT_KEY="dwabdawfuibfawdbawdawob"
SALT_KEY=16

# Email Setting
EMAIL_SMTP_HOST=smtp.gmail.com
EMAIL_SMTP_PORT=465
EMAIL_SMTP_USERNAME="m4cr.klhk@gmail.com"
EMAIL_SMTP_PASSWORD="m4cr#2024"

WEBSITE_URL_FORGOT_PASSWORD="http://localhost:5173/forgot-password"
BASE_URL_FILE=""
URL_IG="https://www.instagram.com/"
GEMINI_API_KEY=